<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="widget widget-about">
          <div class="logo-ft">
            <a href="/" title="" class="change-font">
              Secret-Blog
            </a>
          </div>
          <p>
            과학적으로 설명되지 않는 초자연적인 현상을 기다리는 사람들. 그리고 세상에 존재하지 않는 존재. 그리고 그것의 현신을 기다리는 사람들의 모임.
          </p>
        </div>
        <!-- /.widget-about -->
      </div>

      <div class="col-md-6">
        <div class="widget widget-contact">
          <h3 class="widget-title change-font">Contact</h3>
          <ul class="contact-infomation">
            <li class="address">
              272-3, Seongsudong 2ga, SeongDonggu, Seoul, Korea
            </li>
            <li class="phone">
              (070) 8277 4980
            </li>
            <li class="email">
              no-reply@secret-blog.net
            </li>
          </ul>
        </div>
        <!-- /.widget-contact -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>
<!-- /footer -->

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- /.social-ft -->
        <div class="copyright">
          © 2019 Copyright by SafeHouse. All rights reserved.
        </div>
        <!-- /.copyright -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.footer-bottom -->
