<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header-wrap">
          <div id="logo" class="logo">
            <a href="index.html" title="">
              Dailist
            </a>
          </div>
          <!-- /.logo -->
          <div class="nav-wrap">
            <nav id="mainnav" class="mainnav">
              <ul class="menu">
                <li>
                  <a href="#" title="">Explore</a>
                  <ul class="submenu">
                    <li>
                      <a href="explore-v1.html" title="">Explore Map Zoom In</a>
                    </li>
                    <li>
                      <a href="explore-v2.html" title="">Explore Map Zoom Out</a>
                    </li>
                    <li>
                      <a href="explore-v3.html" title="">Explore Map List</a>
                    </li>
                    <li>
                      <a href="explore-v4.html" title="">Explore Grid</a>
                    </li>
                    <li>
                      <a href="explore-v5.html" title="">Explore List</a>
                    </li>
                    <li>
                      <a href="explore-detail.html" title="">Explore Details</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" title="">Learn</a>
                  <ul class="submenu">
                    <li>
                      <a href="index.html" title="">Index Layout</a>
                    </li>
                    <li>
                      <a href="404.html" title="">404 Page</a>
                    </li>
                    <li>
                      <a href="addlisting.html" title="">Add Listings</a>
                    </li>
                    <li>
                      <a href="comingsoon.html" title="">Comming Soon</a>
                    </li>
                    <li>
                      <a href="contact.html" title="">Contact</a>
                    </li>
                    <li>
                      <a href="price.html" title="">Price Page</a>
                    </li>
                    <li>
                      <a href="work.html" title="">How It Works</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="blog.html" title="">Blog</a>
                  <ul class="submenu">
                    <li>
                      <a href="blog.html" title="">Blog</a>
                    </li>
                    <li>
                      <a href="blog-single.html" title="">Blog Single</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="login.html" title="">Log In</a>
                </li>
                <li>
                  <a href="register.html" title="">Sign Up</a>
                </li>
              </ul>
            </nav>
            <!-- /.mainnav -->
            <div class="button-header">
              <a href="http://corpthemes.com/html/dailist/register.html" title="">
                <i class="ti-plus"></i>Add Your Properties</a>
            </div>
            <div class="show-search">
              <button>
                <span class="ti-search"></span></button>
              <div class="submenu top-search search-header">
                <form role="search" method="get" class="search-form" action="#">
                  <label>
                    <input type="search" class="search-field" placeholder="Search …" value="" name="search">
                  </label>
                  <button class="search-submit-form" title="Search now">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </div>
            <!-- /.show-search -->
            <div class="btn-menu">
              <span></span>
            </div>
            <!-- //mobile menu button -->
          </div>
          <!-- /.nav-wrap -->
        </div>
        <!-- /.header-wrap -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.header -->
