<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header-wrap">
          <div id="logo" class="logo">
            <a href="/" title="" class="change-font">
              Secret-Blog
            </a>
          </div>
          <!-- /.logo -->
          <div class="nav-wrap">
            <nav id="mainnav" class="mainnav">
              <ul class="menu">
                <li>
                  <a href="/" title="">Home</a>
                </li>
              </ul>
            </nav>
            <!-- /.show-search -->
            <div class="btn-menu">
              <span></span>
            </div>
            <!-- //mobile menu button -->
          </div>
          <!-- /.nav-wrap -->
        </div>
        <!-- /.header-wrap -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.header -->
