<section class="page-title style2 parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading change-font" style="font-size: 3.6rem !important;">
          우리들만의 비밀이 <br/>담겨있는 곳.
        </div>
        <div class="text-heading change-font" style="font-size: 2.5rem !important;">
          당신을 기다리는 우리에게 더 많은 것을 알려주세요
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->

<section class="flat-row flat-main-blog style2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-row-title center">
          <h2 class="change-font" style="font-size: 2.3rem !important;">우리들의 이야기</h2>
          <p class="change-font" style="font-size: 1.8rem !important;">
            이 곳은 우리들만의 비밀을 적는 곳입니다.<br/> 타인은 볼 수 없어요.
          </p>
        </div><!-- /.flat-row-title -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <article class="blog-post">
          <div class="content-post">
            <div class="entry-post">
              <ul class="entry-meta">
                <li class="topic">
                  <a href="/posts/066" title="">From Who</a>
                </li>
                <li class="date">
                  <a href="#" title=""><%= (Date.today - 1.days).strftime("%b %d, %Y") %> </a>
                </li>
              </ul>

              <h2 class="entry-title">
                <a href="/posts/001" title="">
                  악마의 존재,<br/>
                  그리고 그것을 믿는 사람들에게
                </a>
              </h2>
            </div>
            <p>
              악마는 과연 존재하는가.
            </p>
          </div><!-- /.content-post -->
        </article><!-- /.blog-post -->
      </div><!-- /.col-lg-3 col-sm-6 -->
      <% @posts.each do |post| %>
      <div class="col-lg-3 col-sm-6">
        <article class="blog-post">
          <div class="content-post">
            <div class="entry-post">
              <ul class="entry-meta">
                <li class="topic">
                  <a href="#" title="">Trending</a>
                </li>
                <li class="date">
                  <a href="#" title="">June 08, 2017</a>
                </li>
              </ul>
              <h2 class="entry-title">
                <a href="#" title="">
                  For Summer, <br />
                  Five Hot Destinations
                </a>
              </h2>
            </div>
            <p>
              Americans will likely travel more this summer than last, with Croatia, South Africa and Greece among the popular destinations.
            </p>
          </div><!-- /.content-post -->
        </article><!-- /.blog-post -->
      </div><!-- /.col-lg-3 col-sm-6 -->
      <% end %>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-main-blog style2 -->


<% content_for 'javascript_content' do %>
<%= javascript_include_tag params[:controller] %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
<script type="text/javascript">

</script>
<% end %>
