<section class="page-title style2 parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          Discover the Best Places
        </div>
        <div class="text-heading">
          Expolore top-rated attractions, activities and more
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->

<section class="flat-row flat-main-blog style2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-row-title center">
          <h2>Tips & Articles</h2>
          <p>
            Browse the latest articles from our blog.
          </p>
        </div><!-- /.flat-row-title -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <article class="blog-post">
          <div class="content-post">
            <div class="entry-post">
              <ul class="entry-meta">
                <li class="topic">
                  <a href="/posts/001" title="">Vocation</a>
                </li>
                <li class="date">
                  <a href="#" title=""><%= (Date.today - 2.days).strftime("%b %d, %Y") %> </a>
                </li>
              </ul>

              <h2 class="entry-title">
                <a href="/posts/001" title="">
                  악마의 존재,<br/>
                  그리고 그것을 믿는 사람들에게
                </a>
              </h2>
            </div>
            <p>
              악마는 과연 존재하는가.
            </p>
            <div class="author-post">
              By <a href="#" title="">Patricia R. Olsen</a>
            </div>
          </div><!-- /.content-post -->
        </article><!-- /.blog-post -->
      </div><!-- /.col-lg-3 col-sm-6 -->
      <% @posts.each do |post| %>
      <div class="col-lg-3 col-sm-6">
        <article class="blog-post">
          <div class="content-post">
            <div class="entry-post">
              <ul class="entry-meta">
                <li class="topic">
                  <a href="#" title="">Trending</a>
                </li>
                <li class="date">
                  <a href="#" title="">June 08, 2017</a>
                </li>
              </ul>
              <h2 class="entry-title">
                <a href="#" title="">
                  For Summer, <br />
                  Five Hot Destinations
                </a>
              </h2>
            </div>
            <p>
              Americans will likely travel more this summer than last, with Croatia, South Africa and Greece among the popular destinations.
            </p>
            <div class="author-post">
              By <a href="#" title="">Sivani Vora</a>
            </div>
          </div><!-- /.content-post -->
        </article><!-- /.blog-post -->
      </div><!-- /.col-lg-3 col-sm-6 -->
      <% end %>
    </div><!-- /.row -->
    <div class="row">
      <div class="col-md-12">
        <div class="btn-more">
          <a href="blog.html" title="">View Blog</a>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-main-blog style2 -->


<% content_for 'javascript_content' do %>
<%= javascript_include_tag params[:controller] %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
<script type="text/javascript">

</script>
<% end %>
