@import 'bootstrap';
@import 'font-awesome';

@font-face { font-family: 'KCC-eunyoung'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

.change-font {
  font-family: 'KCC-eunyoung' !important;
}